
<!-- 標題名稱 -->
<section class="block">
  <div class="title">{{ viewModel.title }}</div>

</section>

<!-- 選擇項目 -->
<section class="block">
  <div class="btn-box">
    <div class="message">{{ viewModel.message }}</div>
  </div>
</section>

<!-- 確定 取消 -->
<section class="block">
  <div class="btn-box btn-flex">
    <button
      class="btn btn-border-prime-dark"
      (click)="onConfirmClicked()"
    >
      確定
    </button>
    <button *ngIf="viewModel.mode === 0"
      class="btn btn-border-prime-dark"
      (click)="onCancelClicked()">
      取消
    </button>
  </div>
</section>
