// 標題跟提示文字大小設定
$title-font-size: var(--alert-title-size, 1rem);
$hint-font-size: var(--alert-hint-size, 0.6rem);

// 背景顏色
$background: var(--alert-background, white);

// 按鈕樣式設定：基本樣式
$btn-border: var(--alert-btn-border, 0px solid black);
$btn-border-radius: var(--alert-btn-border, 8px);

.h-alert {
  width: 100%;
  height: 100%;
}

section {
  margin: 0.25rem auto;
}

.title {
  width: 100%;
  font-size: $title-font-size;
  font-weight: 900;
  text-align: center;
  color: var(--second);
}

.message {
  width: 100%;
  font-size: $hint-font-size;
  font-weight: 900;
  text-align: center;
}

.alert-btn-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.55rem;

  button {
    all: unset;
    padding: 0.5rem;
    background: var(--gradient-second--multi, black);
    border: $btn-border;
    border-radius: $btn-border-radius;
    color: var(--light);
    text-shadow: 1px 1px 2px var(--second-deep), 1px 1px 4px var(--second-deep);
    box-shadow: 1px 1px 2px var(--second-deep);
    font-size: 0.8rem;
    font-weight: bolder;
    text-align: center;
    flex: 1 1 auto;
    margin: 0 2px;
  }

  button:disabled {
    opacity: 0.6;
  }

  button:active {
    filter: contrast(1.2);
  }
}
