<ng-container *ngIf="viewModel">
  <section
    #card_container
    class="scroll-view"
    (scroll)="onScrolled()"
  >
    <div
      class="scroll-view--container flex f-column"
    >
      <ng-container *ngFor="let item of viewModel.itemList">
        <!-- {{ item | json}} -->
        <div #card_div [id]="item.id"
          style="--data-position:{{ item.verticalPercent }}"
        >
          <ng-container
            [ngTemplateOutlet]="customCard ? customCard : defaultCard"
            [ngTemplateOutletContext]="item"
          ></ng-container>
        </div>
      </ng-container>
    </div>
    <ng-content></ng-content>
  </section>
</ng-container>

<ng-template
  #defaultCard
  class="card"
  let-vm="vm">
  <!-- {{ vm | json }} -->
  <label class="title">{{ vm.title }}</label><br>
  <label class="content">{{ vm.content }}</label><br>
</ng-template>
