<ng-container *ngIf="viewModel">

  <div #card_container style="width: 100%; height: 100%; overflow: auto;"
    (scroll)="onScrolled()"
  >
    <ng-container *ngFor="let item of viewModel.itemList">
      <!-- {{ item | json}} -->
      <div #card_div [id]="item.id" (click)="onCardClicked(item)">
        <ng-container
          [ngTemplateOutlet]="customCard ? customCard : defaultCard"
          [ngTemplateOutletContext]="item"
        ></ng-container>
      </div>
    </ng-container>
  </div>

</ng-container>

<ng-template
  #defaultCard
  class="card"
  let-vm="vm">
  <!-- {{ vm | json }} -->
  <label class="title">{{ vm.title }}</label><br>
  <label class="content">{{ vm.content }}</label><br>
</ng-template>
