.card {
  width: 100%;
  height: 200px;
}

.title {
  font-size: 25px;
}

.content {
  font-size: 15px;
}

.scroll-view {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.scroll-view--container {
  width: 100%;
  padding: var(--padding-big);
  padding-left: var(--padding-normal);
}
